@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработката на заявката ви.</h2>

<p>
    Моля, опитайте отново или се свържете с администратора.
</p>

<a asp-action="Index" class="btn btn-primary">Начало</a>

